<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="Off" internalLogFile="C:\inetpub\private\logs\vehicle-doctor\internalLog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <!-- the targets to write to -->
  <targets async="true">
    <!-- write to file -->
    <target name="alldata" xsi:type="AsyncWrapper" overflowAction="Grow" queueLimit="10" batchSize="10" timeToSleepBetweenBatches="30">
      <target xsi:type="File" fileName="C:\inetpub\private\logs\vehicle-doctor\${shortdate}.log"
              concurrentWrites="true"
              keepFileOpen="true"
              layout="${time}|${uppercase:${level}}|${aspnet-request-method}|${aspnet-response-statuscode}|${message} ${exception:format=tostring}" />
    </target>
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>


    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />

    <!-- <logger name="*" minlevel="Info" writeTo="console" /> -->

    <logger name="*" minlevel="Trace" writeTo="alldata" />
  </rules>
</nlog>